
    <body>
        <div class="container">
          <div class="cuadro">1</div>
          <div class="cuadro">2</div>
          <div class="cuadro">3</div>
          <div class="cuadro">4</div>
          <div class="cuadro">5</div>
          <div class="cuadro">6</div>
          <div class="cuadro">7</div>
          <div class="cuadro">8</div>
          <div class="cuadro">9</div>
          <div class="cuadro">10</div> 
          <div class="cuadro">11</div> 
          <div class="cuadro">12</div> 
          <div class="cuadro">13</div> 
          <div class="cuadro">14</div> 
          <div class="cuadro">15</div> 
          <div class="cuadro">16</div>  
          <div class="cuadro">17</div> 
          <div class="cuadro">18</div> 
          <div class="cuadro">19</div> 
          <div class="cuadro">20</div> 

       </div>
    </body>
    

    
